@media only screen and (max-width: 950px){
    h1{
        margin-left: 0px;
    }

    .boxtext{
        display: none;
    }

    #content{
        width: 700px;
    }
}

@media only screen and (max-width: 750px){
    nav{
        background-color: rgb(53,53,53);
    }

    .boxesmain{
        visibility: hidden;
    }

    #content{
        width: 100%;
        display: block;
    }
}